p{
            font-family: Source Sans Pro;
font-size: 20px;
font-weight: 400px;


        }
        .name{
font-size: 50px;
font-weight: 700;

        }
        .position{
            font-family: Source sans Pro;
font-size: 30px;
font-weight: 400;

        }
        .location,.male,.phone{
            font-size: 20px;
            font-weight: 400;
            font-family: Roboto;
            
        }
        a:link{
color: #000;
        }
       span{
                margin-left: 30px;
        }
        .summary{
                font-weight: 500;
        }
        li{
                text-align: justify;
        }
        #portfolio{
                color:#000;
        }
       